body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	display: flex;
}

#chat-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.chat-box {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 30%;
	margin: 10px;
	padding: 10px;
	position: relative;
}

.messages {
	height: 300px;
	overflow-y: scroll;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 5px;
}

.chat-input {
	width: 80%;
	padding: 5px;
}

.send-button {
	width: auto;
	padding: 5px;
}

#sidebar {
	width: 200px;
	background-color: #f4f4f4;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

#sidebar button {
	margin-bottom: 4px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-message {
	justify-content: flex-end;
}

.bot-message {
	justify-content: flex-start;
}

.message {
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: aqua;
	overflow: hidden;
	margin-right: 10px;
}

.avatar img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.message-text {
	max-width: 70%;
	padding: 10px;
	border-radius: 10px;
	background-color: #f2f2f2;
}

.user-message .message-text {
	background-color: #99ff99;
	align-self: flex-end;
}

.bot-message .message-text {
	background-color: #c2f0ff;
	align-self: flex-start;
}
